<%= simple_form_for @question, :html => { :class => 'form-horizontal pull-left mtop20', :multipart => true } do |f| %>
   <fieldset class="h125 mbottom130">
	   <%= f.input :title, :label => 'Question', :input_html => { :class => 'input-xxlarge' } %>
	   <%= f.input :description %>

  <div class ="actions">
    <%= f.submit nil, :class => 'btn btn-primary pull-right' %>
  </div>
  </fieldset>
<% end %>