<% if @questions.total_entries.zero? %> 
 <p class="center bold">Your search returned no Course Requests.</p>
 <p class="center bold"> Step 2: Click on the blue button to submit your Course Request</p>

<% elsif @search.nil? %>
	<div id="problems_table"><%= render 'questions' %></div>

<% else %>

<p class="center bold">Your search found <%= pluralize(@questions.total_entries, "question") %>....</p>
<div id="requests">
	   <%= render 'questions' %>
</div>
<p class="center bold">If you don't see what you want, enter a new request by clicking on the blue button</p>
   
<% end %>