<div class="span12">
	<h1 class="title center">Get <span class="italics">Fast Answers</span> to Your Questions by Asking the Community</h1>
</div>
<div class="offset2 span8 well">
	<%= render 'form' %>
</div>