<% if @ideas.total_entries.zero? %> 
   <p>Your search returned no formerly submitted ideas. Proceed to Step 2: Click on the blue button to submit your Idea</p>
<% elsif @search.nil? %>
	<div><%= render 'ideas' %></div>
<% else %>
	<h3 class="center">Your search found <%= pluralize(@ideas.total_entries, "idea") %>....</h3>
	<div id="ideas">
		   <%= render 'ideas' %>
	</div>
	<h3 class="center">Enter a new idea by clicking on the blue button</h3>
<% end %>