<div class="span5 offset1">
	<% if @comments %>
		<% for comment in @comments %>
			<div class="well">
			<h1><%= comment.text %></h1>
			<% if can? :update, @course %>
		    	<%= link_to 'Edit', [comment.commentable, comment], :class => 'btn btn-mini' %>
			    <%= link_to 'Destroy', [comment.commentable, comment],
			                    confirm: 'Are you sure?', 
			                    method: :delete, 
			                    :class => 'btn btn-mini' %>
		    <% end %>
			</div>
		<% end %>
	<% end %>
</div>