<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
	<li class="active"><a href="#community" data-toggle="tab">Lumeo Community</a></li>
	<li><a href="#requests" data-toggle="tab">Request Courses</a></li>
    <li><a href="#questions" data-toggle="tab">Ask Questions</a></li>
    <li><a href="#ideas" data-toggle="tab">Share Ideas</a></li>
    <li><a href="#problems" data-toggle="tab">Report Problems</a></li>
    <li><a href="#praise" data-toggle="tab">Give Praise</a></li>
    <li><a href="#contact" data-toggle="tab">Contact Lumeo</a></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane active" id="community">
       <%= render 'topics' %>
    </div>
	<div class="tab-pane" id="requests">
       Request Courses you Want to Watch
    </div>
    <div class="tab-pane" id="questions">
       Questions
    </div>
    <div class="tab-pane" id="ideas">
       <p>Ideas</p>
    </div>
    <div class="tab-pane" id="problems">
      Problems
    </div>
    <div class="tab-pane span6" id="praise">
      Praise
	</div>
    <div class="tab-pane" id="contact">
      Contact
    </div>
  </div>
</div>