<div class="mleft20">
	<% @recent_problems = Problem.all(:order => 'created_at DESC', :limit => 10) %>
	<% @recent_problems.each do |problem| %>
		<%= link_to problem.title, problem %><br/>
	<% end %>
</div>