<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
	<li class="active"><a href="#feed" data-toggle="tab">Feed</a></li>
    <li><a href="#reflections" data-toggle="tab">Reflections</a></li>
    <li><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#profolio" data-toggle="tab">Profolio</a></li>
    <li><a href="#community" data-toggle="tab">Community</a></li>
    <li><a href="#edit" data-toggle="tab">Edit Membership</a></li>
    <li><%= link_to "Help", topics_path %></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane span6 active" id="feed">
	      <h3><i class="icon-fire"></i> Feed</h3>
		  <p>What's on your mind?</p>
		  <%= render 'shared/micropost_form' %>
	      <%= render 'shared/feed' %>
	</div>
	<div class="tab-pane" id="reflections">
	    <h3><i class="icon-eye-open"></i><i class="icon-eye-open"></i> Every Day I Learn Something New</h3>
		<p>Today I learned:</p>
     	<%= render 'reflections' %>
    </div>
    <div class="tab-pane" id="info">
    </div>
    <div class="tab-pane" id="profolio">

    </div>
    <div class="tab-pane" id="community">

    </div>
    <div class="tab-pane" id="edit">

    </div>
    <div class="tab-pane" id="help">

    </div>
  </div>
</div>