<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
	<li class="active"><a href="#luminations" data-toggle="tab">Luminations</a></li>
    <li><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#profolio" data-toggle="tab">Profolio</a></li>
    <li><a href="#community" data-toggle="tab">Community</a></li>
    <li><%= link_to "Edit Membership", edit_user_registration_path %>
    <li><%= link_to "Help", topics_path %></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane span6 active" id="luminations">
	    <h3>Every Day I Learn Something New</h3>
		<p>Today I learned:</p>
     	<%= render 'reflections' %>
    </div>
    <div class="tab-pane" id="info">
    </div>
    <div class="tab-pane" id="profolio">

    </div>
    <div class="tab-pane" id="community">

    </div>

    <div class="tab-pane" id="help">

    </div>
  </div>
</div>