<% provide(:title, current_user.name) %>
<div class="row"> 
	<aside class="offset1 span2">
      <%= render 'aside' %>
    </aside>
     <div class="span6">
	  <%= render 'reflections' %>
	</div>
	<nav class="offset1 span2">
 	  <%= render 'nav_modules' %>
    </nav>
</div>
