<% provide(:title, @user.name) %>
<div class="row"> 
	<aside class="offset1 span2">
      <%= render 'aside' %>
    </aside>
     <div class="span8">
 	  <%= render 'nav_modules' %>
    </div>
</div>
