   <fieldset>
	<h4 class="p10">Enter Video Information:</h4>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :html_embed_for_video %>
    <%= f.input :running_time %>
  </fieldset>
