<%= simple_form_for(@micropost) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Thoughts lead to actions..."%>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>