<div class="row span7 mleft-20 well">
	<div class="mleft-10 span8">
		<h2 class="bold">Courses are made by Request</h2>
		<h3 class="bold pleft20">Start here by searching inside a subject you'd like to request</h3>
	</div>
	<div class="row span8">
		<%= form_tag requests_path, :method => 'get', :class => "mtop10" do %>
		<%= text_field_tag :search, params[:search], :class => 'input-xxlarge mleft20', :placeholder => 'Enter a single subject, like "Photography"' %>
		<%= submit_tag "Search", :title => nil, :class => 'btn btn-primary btn-large mtop-15' %>
		<% end %>
	</div>
	<div class="row span8">
		<p class="pleft80 bold">Let's see if someone has created a similar request...</p>
	</div>
</div>