<% if @requests.total_entries.zero? %> 
 <p>Your search returned no Course Requests. Step 2: Click on the blue button to submit your Course Request</p>

<% elsif @search.nil? %>
	<div id="problems_table"><%= render 'requests' %></div>

<% else %>

<p class="center bold">Your search found <%= pluralize(@requests.total_entries, "request") %>....</p>
<div id="requests">
	   <%= render 'requests' %>
</div>
<p class="center bold">If you don't see what you want, enter a new request by clicking on the blue button</p>
   
<% end %>