<% provide(:title, 'Privacy Policy') %>

<div class="legal_content">
<h1 class="lead_headline">Lumeo Privacy Policy</h1>

<p>We respect your privacy.</p>

<p>Some of the content members submit to the site is by it's very nature shared with the public. This includes all the information in the community; including, course requests, ideas for improving the site, support tickets and praise.</p>

<p>One of the new features we've released recently, Profolio, was originally requested by a number of members. Profolio has privacy built in, so members have control of who sees the information they post there. We will continue to follow up on features members request. Members can visit the community to submit ideas.</p>

<p>We are in the process of building content for the site and are not currently using any information you send to us with these few exceptions: to respond to course requests made by members, to contact winners of giveaways to let them know they've won and to send out infrequent email updates, including notifications, like changes we make to policies such as this.</p>

<p>Currently, all of the content on the site is free, to give the community a chance to grow and to give free members the chance to check out the application, like an extended test-drive. Some features of the site will continue to be free after we turn on paid membership.</p>

<p>In the future, when we have changes to our Privacy Policy, we will update this page and send out an email in advance, notifying members of changes to come.</p>

<p>Lumeo's success is tied to creating a strong community of paid membership. Therefore, we are incentivized to respect our members privacy and to do our best to protect it. We recently built a new, more secure platform for the site. While this took time and money, this is an example of how strongly we feel about the security and privacy of our members' accounts.</p>
