<% provide(:title, 'Terms of Use') %>
<div class="legal_content">
<h1 class="lead_headline">Lumeo Terms of Use</h1>

<p>Please read this agreement carefully and completely before using this site. By using this site and the links accessible through this site, you expressly agree to be bound by this agreement. These terms, conditions, and policies apply solely to the use of Lumeo and do not extend to any affiliated sites or links to third parties. The information and resources contained on and accessible through his site are made available by Lumeo and its partners, subject to your agreement to the terms and conditions below. </p>

<p>You should periodically review these terms, conditions, and policies for any updates or changes. Your continued use of this site shall constitute notice and acceptance of any such changes. </p>

<p>About Lumeo Pro Videos </p>

<p>Our educational content describes general principles that should not in any event be construed as specific instructions in individual circumstances. Because they are professionals, the pros captured in the videos have the experience necessary to make decisions while performing in sometimes dangerous occupations. The material is for reference only and should not be used to emulate the actions of the professionals portrayed in the videos.  </p>

<p>You understand and agree that neither Lumeo nor its partners are responsible for any claim, loss, or damage directly or indirectly resulting from your use of this site or the information resources contained on or accessible through this site. </p>

<p>About the Site </p>

<p>Content is provided on Lumeo on an "As is" and "As available" basis. Although Lumeo reserves the right to correct any errors, omissions, or inaccuracies, we do not accept any responsibility for the accuracy, reliability, currency, or completeness of any information, content, service, or videos presented herein (even typographical or imaging errors), including the substance, accuracy, or sufficiency of any information listed on the Web site. Further, we do not represent that the Web site will operate without interruption or error, nor do we provide any assurances of the availability or usability of the online shopping services. </p>

<p>Lumeo does not accept any liability for the consequences arising from the application, use, or misuse of any information contained on Lumeo, including any injury and/or damage to any person or property as a matter of liability, negligence, or otherwise. </p>

<p>In no event shall Lumeo be liable for any incidental, consequential, punitive, or special damages, direct or indirect. Any liability on the part of Lumeo shall not exceed the fees paid by the user for the particular information or service provided. </p>
<p>Lumeo is not liable for the unauthorized use of our content by any other Web sites. </p>

<p>Lumeo further disclaims any responsibility for the accuracy, reliability, currency, availability, or completeness of content or information found on any sites that link to or from Lumeo by third parties not associated with us. Lumeo also does not accept any responsibility for technical failures or for unauthorized access of user transmissions by third parties. </p>

<p>Your access and use of these and any other Internet sites, including the information, services, products, materials, and any other resources contained on them, is solely at your own risk. </p>

<p>Lumeo and its partners will attempt to keep the information and resources accessible through this site timely and accurate, but make no guarantees, and disclaim any implied warranty or representation about its accuracy, relevance, timeliness, completeness, or appropriateness for a particular purpose. </p>

<p>Disclaimer of Warranty </p>

<p>Lumeo and its partners disclaim all express or implied representations or warranties regarding the information, services, products, materials, and any other resources available on or accessible through this site, including (without limitation) any implied warranties of merchantability, fitness for a particular purpose, or non-infringement. All such information, services, products, materials, and other resources are made available "as is" and "as available" without warranty of any kind. </p>

<p>Limitation of Liability </p>

<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL LUMEO OR ITS PARTNERS BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER, RESULTING FROM ANY LOSS OF USE, LOSS OF DATA, LOSS OF PROFITS, BUSINESS INTERRUPTION, LITIGATION, OR ANY OTHER PECUNIARY LOSS, WHETHER BASED ON BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, OR OTHERWISE ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THIS SITE, WITH THE DELAY OR INABILITY TO USE THIS SITE, OR WITH THE PROVISION OF, OR FAILURE TO MAKE AVAILABLE, ANY INFORMATION, SERVICES, PRODUCTS, MATERIALS, OR OTHER RESOURCES AVAILABLE ON OR ACCESSIBLE THROUGH THIS SITE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>

<p>Lumeo and its partners do not guarantee the sequence, accuracy, or completeness of any information or content on this or any other Internet sites and shall not be liable in any way to you or anyone else who may use the information or content or to whom the information or content may be furnished, for any delays, inaccuracies, unavailability, errors, or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damage arising therefrom or occasioned thereby. </p>

<p>You acknowledge and agree that the limitations set forth above are fundamental elements of this agreement and the site would not be provided to you absent such limitations. </p>

<p>Indemnification </p>

<p>You agree to indemnify, defend, and hold harmless Lumeo and its partners from any liability, loss, claim, and expense (including reasonable attorneys' fees) related to your violation of this agreement. </p>

<p>Changes to Site </p>

<p>Lumeo and its partners may change or modify the information, services, products, materials, and any other resources contained on or accessible through this site, or discontinue parts of this site or the whole site altogether, at any time without notice. </p>

<p>Lumeo may modify this agreement at any time, and such modifications shall be effective immediately upon posting of the modified agreement. Accordingly, you agree to review this agreement periodically, and your continued use of this site shall be deemed your acceptance of the modified agreement. </p>

<p>The Length of Your Membership

<p>Lumeo reserves the right to modify any part of your membership without notice, including access to content and as well as the length of time your membership is stated to remain in effect. </p>

<p>Your Obligations </p>

<p>You agree to use this site only for lawful purposes. Any conduct by you that, in our sole discretion, restricts, inhibits, or interferes with the ability of any other user to enjoy this site will not be tolerated, including by means of hacking or defacing any portion of this site, or by engaging in spamming, flooding, or other disruptive activities. You are strictly prohibited from communicating on or through this site any unlawful, harmful, offensive, threatening, abusive, libelous, harassing, defamatory, vulgar, obscene, profane, hateful, fraudulent, sexually explicit, racially, ethnically, or otherwise objectionable material of any sort, including, but not limited to, any material that encourages conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate any applicable local, state, national, or international law. We reserve the right to terminate or suspend your access to and use of this site, or parts of this site, without notice, if we believe, in our sole discretion, that it is in violation of any applicable law or it is harmful to our interests or the interests, including intellectual property or other rights, of another user or other third party partners, affiliates, sponsors, providers, licensors, or merchants. </p>

<p>With respect to Your Account, you agree to provide true, accurate, current, and complete information about yourself. It is your responsibility to maintain and promptly update this account information to keep it true, accurate, current, and complete. If you provide any information that is fraudulent, untrue, inaccurate, incomplete, or not current, or we have reasonable grounds to suspect that such information is fraudulent, untrue, inaccurate, incomplete, or not current, we reserve the right to suspend or terminate your account without notice and refuse any and all current and future use of this site. </p>

<p>Because any termination of your access to the site may be effected without prior notice, you acknowledge and agree that we may immediately deactivate or delete your account and all related information and files in your account and bar any further access to such files or this site. Furthermore, you agree that we shall not be liable to you or any third party for any termination of your access to your account or this site. </p>

<p>When you create an account, you will be asked to supply a User ID and password. You are responsible for maintaining the confidentiality of the password and account and are fully responsible for all activities that occur in connection with your password or account. You agree to immediately notify us of any unauthorized use of either your password or account or any other breach of security. You further agree that you will not permit others, including those whose accounts have been terminated, to access this site using your account or User ID. </p>

<p>To learn more about how we protect the privacy of the personal information in your account, please visit our Privacy Policy. When participating in sweepstakes or contests offered on our site, you are urged to review the official rules and regulations governing those promotions. All Materials submitted as part of a contest will be governed by contest rules published with the contest. </p>

<p>These terms, conditions, and policies are effective until terminated by either party. If you no longer agree to be bound by these terms and conditions, you must cease your use of this site. Your use of this site is at your sole risk. If you are dissatisfied with this site, its content, or any of these terms, conditions, and policies, your sole and exclusive legal remedy is to discontinue using this site. </p>

<p>Trademark and Copyright Notice </p>

<p>All the content on this site is subject to trademark, service mark, copyright, and/or other intellectual property rights held by Lumeo and its partners. All title and full intellectual property rights protected by US or international copyright laws are reserved for any materials downloaded or otherwise received from this site. Any trademark or copyright notices may not be deleted or altered in any way. Trademarks and copyrights may not be used in connection with any third party products or services. </p>

<p>Lumeo grants you a license that is non exclusive, non-transferable, with a limited right to access, use and display this Site and the informational materials (Materials) contained in the Site. You agree not to interrupt or attempt to interrupt the operation of the Site in any way. </p>

<p>Except as provided above or as permitted by the fair use privilege under US copyright laws (17 U.S.C. Section 107), the user may not upload, post, reproduce, or distribute in any way content protected by copyright, or other proprietary right, without obtaining express written and signed permission of the owner of the copyright or other proprietary right. No title, rights, or interests in any downloaded materials from this site are afforded you as a result of such downloading for personal, noncommercial use. You acknowledge that these rights are valid and protected in all forms, media, and technologies existing now or hereinafter developed. </p>

<p>Proprietary Rights </p>

<p>Lumeo and its partners own all the content on this Web site, including text, graphics, legends, customized graphics, original photographs, data, images, music, audio and video clips, typefaces, titles, button icons, logos, designs, words or phrases, page headers, and software as well as the design, coordination, arrangement, enhancement, and presentation of this material. </p>

<p>As stated above, content provided and transmitted on this Web site may be used for individual, informational, and noncommercial purposes only, provided that there are no specific restrictions displayed prohibiting such use. </p>

<p>Copying, publishing, broadcasting, re-broadcasting, webcasting, transmitting, modifying, deleting, augmenting, distributing, downloading, storing, reproducing, sublicensing, adapting, creating derivative works of this content, displaying to a group of more than one person, or posting this content or selected portions of this content in any manner on any network computer, broadcast media, or other technologies existing now or hereinafter developed for unauthorized publication or commercial use without the prior written consent or subscription to a group plan through Lumeo is strictly prohibited. </p>

<p>You hereby agree not to reproduce, duplicate, copy, sell, resell, decompile, disassemble, or exploit for any commercial purposes any portion of this site, use of this site, or access to this site, or to collect any information about site visitors or registered users of this site. </p>

<p>You hereby agree to indemnify and hold us, and our subsidiaries, affiliates, officers, directors, agents, co-branders, partners, and employees harmless from any claim or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the content on this site, or any content you submit, post, or transmit through this site, your use of this site, your connection to this site, your violation of these Terms of Use, or your violation of any rights of another. For additional information, please see About the Site. </p>

<p>You agree that you will not send, upload or transmit any communication, content or Material of any type to Lumeo or its partners that infringes or violates any rights of any party or violates these Terms of Use. </p>

<p>Any user submitting or otherwise exchanging communications with Lumeo or the Lumeo GetSatisfaction community, including content or Material, including, without limitation, any personal or commercial information, idea, concept or invention, irrevocably grants to Lumeo an unrestricted, worldwide, royalty-free license to use, reproduce, display publicly, perform, publish, transmit and distribute such Materials and you further agree that Lumeo is free to use any ideas, concepts or know-how that you or individuals acting on your behalf provide to Lumeo. </p>

<p>Electronic Communications </p>

<p>When you interact with Lumeo by writing to us through the forms available on Lumeo and our partners, you are communicating with us electronically and consent to receive return communications, if any, from us electronically. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. </p>

<p>Links to Other Sites </p>

<p>This site may contain links to sites owned or operated by independent third parties. These links are provided for your convenience and reference only. We do not control such sites and, therefore, we are not responsible for any content posted on these sites. Be aware that Lumeo does not control, makes no guarantees about, and disclaims any express or implied representations or warranties about the accuracy, relevance, timeliness, completeness, or appropriateness for a particular purpose of the information or the resources contained on these or any other Internet sites. We reserve the right to terminate such links at any time. The fact that we offer such links should not be construed in any way as an endorsement, authorization, or sponsorship of that site or its content. Because some sites employ automated search results or otherwise link you to sites containing information that may be deemed inappropriate or offensive, we cannot be held responsible for the accuracy, copyright compliance, legality, or decency of material contained in third party sites, including the weekly circular ads available online, and you hereby irrevocably waive any claim against us with respect to such sites. </p>

<p>General Information </p>

<p>In addition to the rights and privileges described in the terms, conditions, and policies outlined above, we further reserve the right to elect to electronically monitor areas of our site and may disclose any content, records, or electronic communication of any kind if required to do so by any law, regulation, or government request, if such disclosure is necessary or appropriate to operate the site, or to protect our rights or property, or the rights of the users, partners, affiliates, sponsors, providers, licensors, or merchants. If alerted to allegedly infringing, defamatory, damaging, illegal, or offensive content, we may investigate the allegation and determine in our sole discretion whether to remove or request the removal of such content from this site. </p>

<p>Quality customer service is our top priority. References to or descriptions of services on this site should not be interpreted as endorsements of such products or services. Resale of products or services purchased in connection with this site is specifically prohibited. We reserve the right to refuse to sell products or services to you if it reasonably appears to us that you intend to resell said products or services. Verification of information may be required prior to our acceptance of any order. </p>

<p>We control this site from our corporate offices within the United States of America. By accessing and using this site you agree that such access and use is subject to the terms, conditions, and policies outlined above as well as applicable laws, as governed and interpreted pursuant to the laws of the state of California. Our failure to insist upon strict performance of any provision of these terms, conditions, and policies shall not be construed as an implicit waiver of any provision or right. </p>

<p>If any part of this agreement is ruled to be unenforceable, then such part shall be severed, with the remainder of the agreement remaining in full force and effect. These terms, conditions, and policies constitute the entire agreement between you and Lumeo governing your use of this site. As stated above, your use of this site is also subject to our Privacy Policy.</p>

</div>

