
	<div class="well span2">
	    <h4 class="title">Browse by Subject</h4>
		<% @tags.each do |tag| %>
  			<p><%= link_to tag.name, tag, :class => 'btn btn-mini' %></p>
  		<% end %>
	</div>
	<div>
		  <%= button_to 'Back to Community', topics_path, 
						:method => 'get', 
						:class => 'btn btn-primary pull-right' %>
	</div>