<div class="row span11">
	<h1 class="title">Tags</h1>
	<div class="span4 row well offset3">
	  <% @tags.each do |tag| %>
				<%= button_to tag.name, tag, 
											:method => 'get',
	 										:class => 'btn btn-primary btn-small' %>
		   		<%= button_to 'Delete', tag, 
			                :method => 'delete', 
							:class => 'btn btn-small btn-danger pull-right mtop-47' %>
	  <% end %>
	</div>
</div>