<div class="breadcrumbs span12 row">
	<p>
		<%= link_to "community", topics_path %>
		> subjects
	</p>
</div>
<h1 class="title center"><%= @tag.name.titleize %></h1>
<div class="span12">
	<div class="span2">
		<%= render 'browse_subjects'%>
	</div>
	<div class="span8 mtop20 row">
		<%= render 'tabs' %>
	</div>
</div>