<h1 class="title center"><%= @tag.name.titleize %></h1>
<div class="span12">
	<div class="span2">
		<%= render 'browse_subjects'%>
	</div>
	<div class="span8 mtop20 row">
		<%= render 'tabs' %>
	</div>
</div>