/* Community --------------------*/

.community-index {
   float:left;
   margin-left:65px;
   padding-top:20px;
}

.community textarea {
    height:100px;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

/* Comments --------------------*/

.comment textarea {
    height:100px;
	width:450px;
	margin-right:auto;
	margin-left:auto;
}

.edit textarea {
    height:100px;
	width:500px;
	margin-left:auto;
}

.edit input {
	width:510px;
	margin-left:auto;
	border:none;
}