// Set the correct sprite paths
$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

$navbarBackground: #555;
$navbarBackgroundHighlight: #888;
$navbarText: #eee;
$navbarLinkColor: #eee;

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";

.navbar .brand {
  color: #FAFFB8;
}

.brand {margin-top:-22px;}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.title {
  padding:15px;
}

.padding-bottom {
  padding-bottom:20px;
}

.padding-top {
  padding-top: 20px;
}

.m5 {
   margin:5px;
}
.pad10 {
  padding:10px;
}

.pad20 {
  padding:20px;
}

.pleft10 {
  padding-left:10px;
}

.pleft20 {
  padding-left:20px;
}

.pleft30 {
  padding-left:30px;
}

.pleft40 {
  padding-left:40px;
}

.pleft80 {
   padding-left:80px;
}
.top4 {
  padding-top:4px;
}

.ptop10 {
  padding-top:10px;
}

.ptop40 {
  padding-top:40px;
}

.mtop-80 {
  margin-top:-80px;
}

.mtop-20 {
  margin-top:-20px;
}

.mtop-17 {
  margin-top:-17px;
}

.mtop-15 {
  margin-top:-15px;
}

.mtop-10 {
  margin-top:-10px;
}

.mtop-7 {
  margin-top:-7px;
}

.mtop-5 {
  margin-top:-5px;
}

.mtop8 {
  margin-top:8px;
}

.mtop9 {
  margin-top:9px;
}

.mtop10 {
  margin-top:10px;
}

.mtop15 {
  margin-top:15px;
}

.mtop18 {
  margin-top:18px;
}

.mtop19 {
  margin-top:19px;
}

.mtop20 {
  margin-top:20px;
}

.mtop30 {
  margin-top:30px;
}

.mtop40 {
  margin-top:40px;
}

.mtop80 {
  margin-top:80px;
}

.mtop100 {
  margin-top:100px;
}

.mtop130 {
  margin-top:130px;
}

.mleft-140 {
  margin-left:-140px;
}

.mleft-130 {
  margin-left:-130px;
}

.mleft-60 {
  margin-left:-60px;
}

.mleft-40 {
  margin-left:-40px;
}

.mleft-30 {
  margin-left:-30px;
}

.mleft-20 {
  margin-left:-0px;
}

mleft-10 {
  margin-left:-25px;
}

.mleft10 {
   margin-left:10px;
}

.mleft20 {
  margin-left:20px;
}

.mleft30 {
  margin-left:30px;
}

.mleft40 {
  margin-left:40px;
}

.mleft50 {
  margin-left:50px;
}

.mleft80 {
  margin-left:80px;
}

.mleft100 {
  margin-left:100px;
}

.mleft130 {
  margin-left:130px;
}

.mleft150 {
  margin-left:150px;
}

.mright10 {
  margin-right:10px;
}

.mright20 {
  margin-right:20px;
}

.mright-40 {
  margin-right:-40px;
}

.mright-20 {
  margin-right:-20px;
}

.mbottom-10 {
   margin-bottom:-10px;
}

.mbottom-15 {
   margin-bottom:-15px;
}

.mbottom-30 {
   margin-bottom:-10px;
}
.mbottom130 {
  margin-bottom: 130px;
}

.h50 {
   height:50px;
}

.h125  {
  height:125px;
  textarea{
   height:125px;
  }
}
.h200  {
  height:125px;
  textarea{
   height:200px;
  }
}

.center h1 {
  margin-bottom: 10px;
}

.text-white a {
  color:white;
}

/* header */

#logo {
  float:left;
  padding:10px;
}

.gravatar_header {
  padding-top:8px;
  margin-right:-10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family:helvetica, arial, sans-serif;
}

li {
  font-family:helvetica, arial, sans-serif;
}

a {
  font-family:helvetica, arial, sans-serif;
}

p {
  font-family:helvetica, arial, sans-serif;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
  &:hover {
     color: #222;
     background:transparent;
   } 
}

footer small {
  float: left;
  a {
    color:#2786C2;
}
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.footer_link {
		list-style-type: none;
	    display: inline-block;
		font-family: Arial, Helvetica, sans-serif;
	    padding-right: 20px;
		font-size:14px;

		a {
				color:#777;
				text-decoration:none;
		}
	}
	
/* forms */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  width: 100%;
	  padding: 10px;
	  height: auto;
	  margin-bottom: 15px;
	  @include box_sizing;
}

.form_title {
     padding:20px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #2786C2;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}