/* HOME PAGE _______________________________________*/

/* STYLE THE CONTENT------------------------------------- */
/* HOME_EXAM------------------------------------- */

.headline {
	text-align:center;
	padding-top:20px;
}

.center {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}

.bold {
	font-weight:bold;
}

.italics {
	font-style:italic;
}


#home_exam_container {
    margin-top:25px;
}

p#video_exam_link {
	font-size:12px;
	float:left;
	padding-top:0px;
	padding-left:4px;
}


/* HOME_CALL------------------------------------- */

.call_text {
	font-size:26px;
	line-height:36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:200;
}

#main_call {
	text-align:center;
	margin-bottom:-15px;
}

#about_video_button {
     margin-bottom:7px;
}

.call_button {
	margin-right:65px;
}

#about_video {
  height:485px;
  width:800px;
  margin-left:-375px;

  .modal-header {
   	background:#555;
	border:none;
	color:#FFDE17;
	h3 {
	font-weight:200;
	.white { 
		color:#FFF;}
	}
	.fw300 {
	  font-weight:500;
	}
}
  .modal-body {
    max-height:none;
    text-align:center;
	background:#000;
	border:none;
	margin-bottom:-4px;
  }
	.modal-footer {
	  background:#000;
	  border:none;
	  margin-top:-4px;
	}
}

.close_text {
   color:#FFF;
}

/* HOME_CONTAINER_INFO------------------------------------- */


.feature_container {
     margin-right:0px;
}
.feature_headline {

	text-align:center;
}

.feature_1 {
     margin-left:-55px;
}
.feature_2 {
     margin-left:-75px;
}
.feature_3 {
     margin-left:-60px;
}

.feature_4 {
     margin-left:0px;
}

#home_info_content_lower {
	width:1000px;
	height:50px;
	margin-left: auto;
    margin-right: auto;

	padding-top:230px;
}

.home_feature_image {

     margin-left:40px;
     margin-top:10px;

}

.home_feature_text {
	color:#666;
	padding-left:14px;
	padding-right:14px;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
	width:215px;
	font-weight:300;
	text-align:center;
}


/* TERMS OF USE------------------------------------- */

.legal_content {
	width:850px;
	margin-top:-20px;
	margin-left: auto;
    margin-right: auto;
	
	h1 {
		font-size:24px;
		font-family: Arial, Helvetica, sans-serif;
		padding-top: 20px;
		width:850px;
		margin-left: auto;
	    margin-right: auto;
		text-align:center;
		margin-bottom:-10px;
	}

}

/* ABOUT------------------------------------- */


.about_content {
			font-family: Arial, Helvetica, sans-serif;
			background:white;
			margin-top:0px;
				h1 {color:#000;font-size:26px;font-weight:300;
					h2 {color:#000;font-size:16px;font-weight:300;
						p {color:black;}
		}
	}
}
.about_headline {
	padding-top:15px;
}
#about_text {
	
	float:left;
	padding-left:20px;
	margin-top:10px;
		a:link {
		     color:#FFDE17;
		     text-decoration:none;
		a:hover {
		     color:#000;
		     text-decoration:none;
			 padding-bottom:15px;
			}
		}
	}
#about_text_2 {
     padding-top:35px;
     text-align:center;
	padding-bottom:25px;

}


#features_list {
     padding-top:20px;
     padding-left:50px;
}
.lower_text {

	clear:both;
	color:black;
	margin-left:auto;
	margin-right:auto;
    padding-top:10px;
    padding-bottom:30px;
}

.about_slogan {
	width:328px;
	padding-left:0px;
	margin-left: auto;
    margin-right: auto;
}

#as_seen {


}
