/* typography ----------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family:helvetica, arial, sans-serif;
}

.hel p {
  font-family:helvetica, arial, sans-serif;
}

li {
  font-family:helvetica, arial, sans-serif;
}

a {
  font-family:helvetica, arial, sans-serif;
}

p {
  font-family:helvetica, arial, sans-serif;
}

.up-index {
  margin-top:5px;
  margin-left:0px;
}

.count-index {
  margin-top:10px;
  margin-left:0px;
  margin-bottom:-60px;
}

.down-index {
  margin-top:-5px;
  margin-left:0px;
}

.comment p {
  font-size:14px;
}

.show-text {
  font-size:20px;
}