<%= simple_form_for @category, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
   <fieldset>
	 <legend><%= controller.action_name.capitalize %> Category</legend>
	   <%= f.input :name %>
  </fieldset>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>