<div id="about_text" class="span5">

		<h1 class="center">
			Have you ever learned a subject in a classroom, then realized,<br/> 
			<span class="italics">"I still have no idea how to
				<span class="bold"> 'do it.' 
				</span>"
			</span> <br/>
			<span class="bold">Lumeo</span> 
			<span>connects members directly <br/>
				with pros, caught in the act of</span><br/>
			<span class="bold italics">doing what they do.</span><br/>
			<span>Everything starts with a <%= link_to 'Course Request', topics_path, :class => 'btn btn-mini'%></span>
		</h1>
</div>
