<div id="about_text_2" class="span12">
<h1>Develop <span class="bold italics">relationships</span> with Lumeo members and pros within subjects of <span class="bold">mutual interest.</span></h1>
</div>
<div class="lower_text well">
			<h1><span class="bold span12 center">Lumeo Features</span></h1>
</div>
  <div id="features_list">
	<ul>
		<li>Videos that <span class="bold italics">quickly</span> and <span class="bold">clearly connect learning</span> with <span class="bold">pros, working in the real-world right now.</span></li>
		<li>Every pro video is also <span class="bold">produced by TV pros</span>, so learning moves at a <span class="bold italics">faster</span>, more <span class="bold">enjoyable pace</span>.</li>
		<li>Each course is both <span class="bold">accessible</span> and <span class="bold">enjoyable</span> at 30 minutes each, <span class="bold">the length of a favorite TV show</span>, because education should be edited.</li>
		<li>Members steer their education in the direction they want to take it by making <span class="bold">course requests</span>, choosing the <span class="bold">pro videos</span> they want to watch, <span class="bold">developing professional relationships</span> and <span class="bold">getting <span class="italics">fast answers</span></span> to questions in the Lumeo community, <span class="bold">reading and/or writing professional articles</span> on the Lumeo blog, and <span class="bold">posting to their "profolios"</span> for peer and pro review.</span></li>				
		</ul>
   </div>
	
