<div id="about_text" class="span5">

		<h1 class="center">
			Have you ever learned a subject in a classroom, then realized,<br/> <span class="italics">"I still have no idea how to<span class="bold"> 'do it.' </span>"</span> <br/><span class="bold">Lumeo is <span class="italics">faster </span></span>because members learn from pros, caught in the act of doing what they do,<br/> <span class="bold italics">captured while they're doing it.</span>
		</h1>
</div>
