<div class="feature_container well feature_headline">
	<div class="row">
      <div class="span3">
    	<span class="btn btn-large feature_1">Request Courses</span>
      </div>
      <div class="span3">
    	<span class="btn btn-large feature_2">Watch Pro Videos</span>		
      </div>
      <div class="span3">
	    <span class="btn btn-large feature_3">Connect with Members</span>		
      </div>
      <div class="span2">
	    <span class="btn btn-large feature_4">Post to <strong>Profolio</strong></span>	
      </div>
   </div>
</div>

<div class="row">
  <div class="span3">
		<p class="home_feature_image">
		<%= image_tag("home_feature_1.png", alt: "Request Courses", class: "feature_button") %>
			</p>
  </div>
  <div class="span3">
		<p class="home_feature_image">
				<%= image_tag("home_feature_2.png", alt: "Watch Videos", class: "feature_button") %>
		</p>				
  </div>
  <div class="span3">
		<p class="home_feature_image">
				<%= image_tag("home_feature_3.png", alt: "Connect With Members", class: "feature_button") %>
		</p>				
  </div>
  <div class="span3">
		<p class="home_feature_image">
				<%= image_tag("home_feature_4.png", alt: "Post to Profolio", class: "feature_button") %>
		</p>
  </div>
</div>

<div class="row">
  <div class="span3">
		<p class="home_feature_text">
		<span class="label label-info">Request!</span> courses, vote on ideas, and leave comments. It's free, it's easy and it's fun.</p>
  </div>
  <div class="span3">
		<p class="home_feature_text">
		<span class="label label-info">Watch!</span> Lumeo courses and see how fast learning can be.</p>				
  </div>
  <div class="span3">
		<p class="home_feature_text">
		<span class="label label-info">Interact!</span> with fellow members based on mutual interests.</p>				
  </div>
  <div class="span3">
		<p class="home_feature_text">
		<span class="label label-info">Post!</span> your work for review. <br/> If we like what we see,<br/> we’ll hire you to create courses.</p>
  </div>
</div>