
<div id="home_call">
     <h1 id="call_text"><strong><span id="main_call">Pursue Your HAPPY!</span></strong><br/>
     					Lumeo is the <span class="italics bold">direct</span> 
						way to get what you want from learning. It all starts with 
						<span class="bold">YOU</span>.<br/></h1><h2 class="center">
						Join Lumeo now and <span class="italics">let's get it started.</span></h2>
</div>

<div class="center" id="about_video_button">
	<a href="#"><span class="label label-info">Watch the "About" Video to find out how</span></a>
</div>

<div class="center call_button">
<a href="#"><%= image_tag("home_call_button.gif", alt: "Become a member") %></a>
</div>
