
<div id="home_call">
     <h1 id="call_text"><strong><span id="main_call">Think <span class="italics">Fast</span> and Learn <span class="italics">Faster</span></span></strong><br/>
     Lumeo is the <span class="italics bold">fastest</span> way to learn how to perform like a pro–from photos to video to music and sports. It starts with <span class="bold">YOU</span>. Make it <span class="italics bold">personal</span>. Become a Lumeo member today.</h1>
</div>

<div class="center" id="about_video_button">
	<a href="#"><span class="label label-info">Watch the "About" Video to find out how</span></a>
</div>

<div class="center call_button">
<a href="#"><%= image_tag("home_call_button.gif", alt: "Become a member") %></a>
</div>
