<div id=home_exam_container>
	<div class="well">
	   <div id="home_exam">
	

			<span class="label label-info">Test your knowledge!</span>
			<p class="exam_counter"><span class="white">Question 1/10</span></p>
			<h2 class="exam_headline">What do you know about <span class="bold">photography?</span></h2>
			<p class="exam_question">When shooting in low light, what is the first consideration?</p>
		
		
			<ul class="exam_text">
				<li>Camera shake</li>
				<li>Lens speed</li>
				<li>ISO setting</li>
				<li>None of the above</li>
			</ul>
      </div>
   </div>
</div>